

.surface{
    width: 100%;
    position: fixed ;
    bottom: 0px;
    top:70%;
    background-repeat: repeat-x;
    background-size:contain;
    background-image: url("../../../assets/assets/Img_02.png");
    animation-name: surface-ground;
    animation-duration: 3.4s ;
    animation-timing-function:linear ;
    animation-iteration-count:infinite;
}

@keyframes surface-ground {
    0%{
        background-position-x: -20px;
    }
    100%{
        background-position-x: 1200px;
        /* transform: translateX(200px); */
    }
}