.footer{
    display: flex;
    justify-content: space-between;
    box-shadow: 1px -20px 23px -6px rgba(184, 184, 184, 0.59);
    max-height: 30vh;
    padding-bottom: 20%;
    
    
}

.left-side span{
    cursor: pointer;
}

.left-side span:hover{
    text-decoration: underline;
}